.sidebarTop {
    border-bottom: 1px solid var(--secondary-color) ;
    padding: 10px 20px; 
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}